<h1 class="text-center">welcome to<i class="fa-solid fa-book "></i><strong>Bookers!!</strong></h1>
<p class="text-center">in <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
<p class="text-center">you can share and exchange your opinions , inpressions , and emotions</p>
<p class="text-center">about various books!</p>


<li class="nav-item">
<%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark text-center' %>
</li>
<li class="nav-item">
<%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-dark text-center' %>
</li>